{% extends 'frontend/index_particle.html'%} 
{% load staticfiles %}
<!--/************************************************************
 *																*
 * 						      AI VIEW							*
 *                        @naodongbanana						*
 *                        n1085633848@gmail.com					*
 *       		  Medienkunst project interface					*
 * 																*
**************************************************************-->

{% block content %}
<div class="container">
    <div class="cube cube--1">
        <div class="side side--back">
            <div class="side__inner"></div>
        </div>
        <div class="side side--left">
            <div class="side__inner"></div>
        </div>
        <div class="side side--right">
            <div class="side__inner"></div>
        </div>
        <div class="side side--top">
            <div class="side__inner"></div>
        </div>
        <div class="side side--bottom">
            <div class="side__inner"></div>
        </div>
        <div class="side side--front">
            <div class="side__inner"></div>
        </div>
    </div>
    
    <div class="cube cube--2">
        <div class="side side--back">
            <div class="side__inner"></div>
        </div>
        <div class="side side--left">
            <div class="side__inner"></div>
        </div>
        <div class="side side--right">
            <div class="side__inner"></div>
        </div>
        <div class="side side--top">
            <div class="side__inner"></div>
        </div>
        <div class="side side--bottom">
            <div class="side__inner"></div>
        </div>
        <div class="side side--front">
            <div class="side__inner"></div>
        </div>
    </div>
    
    <div class="cube cube--3">
        <div class="side side--back">
            <div class="side__inner"></div>
        </div>
        <div class="side side--left">
            <div class="side__inner"></div>
        </div>
        <div class="side side--right">
            <div class="side__inner"></div>
        </div>
        <div class="side side--top">
            <div class="side__inner"></div>
        </div>
        <div class="side side--bottom">
            <div class="side__inner"></div>
        </div>
        <div class="side side--front">
            <div class="side__inner"></div>
        </div>
    </div>
</div>
<div id='buttons'></div>
        <!-- MODAL -->
<div class="modal fade" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="modal-video-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-video">
                        <div class="embed-responsive embed-responsive-16by9">
                                <video id="show_ai_video" controls playsinline poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg">
                                    <source src="{% static 'tt1477834.mp4'%}" type="video/mp4" size="576">
                               </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-sm-8 col-sm-offset-2 video-link medium-paragraph">
        <a href="#" class="launch-modal" data-modal-id="modal-video">
            <span class="video-link-icon"><i class="fa fa-play"></i></span> 
            <span class="video-link-text"></span>
        </a>
    </div>
</div>

<script>
$('.launch-modal').on('click', function(e){
    e.preventDefault();
    $( '#' + $(this).data('modal-id') ).modal();
});
</script>

<script type="text/javascript">
    $(document).ready(function (){
        function render_ai(ids){
            // TODO
            $('#introduction_button span').text('Show Video');
            $('#buttons').empty();
            $.ajax({
                url:'/frontend/render',
                data:{'plots_id':ids},
                type:'get',
                cache:false,
                dataType:'json',
                success:function(data){
                    $("#show_ai_video").attr("src", "{% static 'tt1477834.mp4' %}")
                    $(".launch-modal").click();
                },
                error:function(){
                    console.log('error can not get the video url');
                }
            })
        };

        function empty_and_create(datas, type){
            $('#introduction_button span').text('Select a '+type);
            $('#buttons').empty();
            $.each(datas, function(index, value){
                if(index%2==0){
                    var r = Math.floor((Math.random() * 30) + 60);
                    var t = Math.floor((Math.random() * 20) + 25*(index+1)%80);
                    if(type=='genre' || type=='theme'){
                        var item_var = $("<button id="+value+" type='button' class='btn btn-outline-info btn-lg'>"+value+"</button>");
                    }else{
                        var item_var = $("<button id="+index+" type='button' class='btn btn-outline-info btn-lg'>"+value+"</button>");
                    }
                    item_var.css({"position": "absolute", "top": t+"%", "right": r+"%"});
                    $("#buttons").append(item_var);
                }
                else{
                    var l = Math.floor((Math.random() * 30) + 60);
                    var t = Math.floor((Math.random() * 20) + 20*(index+1)%80);
                    if(type == 'genre' || type=='theme'){
                        var item_var = $("<button id="+value+" type='button' class='btn btn-outline-info btn-lg'>"+value+"</button>");
                    }else{
                        var item_var = $("<button id="+index+" type='button' class='btn btn-outline-info btn-lg'>"+value+"</button>");
                    }
                    item_var.css({"position": "absolute", "top": t+"%", "left": l+"%"});
                    $("#buttons").append(item_var);
                };
            })
        };

        var data = {{ context|safe }};
        empty_and_create(data['genres'], 'genre');
        $("#buttons").fadeOut(500);
        $("#buttons").fadeIn(1000);
        $.each(data['genres'], function(index, item){
            $("#"+item).click(function(){
                $.ajax({
                    url: "/frontend/genres",
                    data:{'genre':item},
                    type:'get',
                    cache:false,
                    dataType:'json',
                    success:function(data){
                        // alert(data['themes']);
                        if(data['themes']){
                            // var themes = data['themes'];
                            empty_and_create(data['themes'], 'theme');
                            var IDs = [];
                            $('#buttons').find('button').each(function(){IDs.push(this.id);})
                            $.each(IDs, function(index, value){
                                $('#'+value).click(function(){
                                // alert(value);
                                $.ajax({
                                        url:'/frontend/themes',
                                        data:{'theme':value, 'genre':data['genre']},
                                        type:'get',
                                        cache:false,
                                        dataType:'json',
                                        success:function(data){
                                            if(data['plots']){
                                                empty_and_create(data['plots'], 'plot');
                                                var IDs_plot = [];
                                                $('#buttons').find('button').each(function(){IDs_plot.push(this.id);})
                                                $.each(IDs_plot, function(index, value){
                                                    $('#'+value).click(function(){
                                                        $.ajax({
                                                            url:'/frontend/plots',
                                                            data:{'plot':value, 'genre':data['genre'], 'selected_id':data['plots_id'][index]},
                                                            type:'get',
                                                            cache:false,
                                                            dataType:'json',
                                                            success:function(data){
                                                                // TODO
                                                                // alert(data['selected_plots_id']);
                                                                var time = data['time'];
                                                                var end_time = 10;
                                                                var end_plots = [];
                                                                var end_plots_id = [];
                                                                var max_selected_times =5;
                                                                var selected_times = 0;
                                                                // alert(time);
                                                                // alert(time);
                                                                if(time < 20){
                                                                    empty_and_create(data['plots'], 'plot');
                                                                    IDs_new_plot = []
                                                                    $('#buttons').find('button').each(function(){IDs_new_plot.push(this.id);})
                                                                    // alert(IDs_new_plot);
                                                                    $.each(IDs_plot, function(index, value){
                                                                        $('#'+value).click(function(){
                                                                            // alert(value);
                                                                            $.ajax({
                                                                                url:'/frontend/plots_1',
                                                                                data:{'selected_id':data['plots_id'][index],'old_id':data['selected_plots_id'], 'genre':data['genre'],'plot':value},
                                                                                type:'get',
                                                                                cache:false,
                                                                                dataType:'json',
                                                                                success:function(data){
                                                                                    // alert(data['selected_plots_id']);
                                                                                    // alert(data['time']);
                                                                    //                 end_plots_id = data['selected_plots_id']
                                                                    //                 time = data['time'];
                                                                                    if(data['time'] < 20){
                                                                                        empty_and_create(data['plots'], 'plot');
                                                                                        IDs_new_plot = []
                                                                                        $('#buttons').find('button').each(function(){IDs_new_plot.push(this.id);})
                                                                                        $.each(IDs_plot, function(index, value){
                                                                                            $('#'+value).click(function(){
                                                                                                $.ajax({
                                                                                                    url:'/frontend/plots_2',
                                                                                                    data:{'selected_id':data['plots_id'][index],'old_id_1':data['selected_plots_id'][0],'old_id_2':data['selected_plots_id'][1], 'genre':data['genre'],'plot':value},
                                                                                                    type:'get',
                                                                                                    cache:false,
                                                                                                    dataType:'json',
                                                                                                    success:function(data){
                                                                                                        // alert(data['selected_plots_id']);
                                                                                                        if(data['time'] < 20){
                                                                                                            empty_and_create(data['plots'], 'plot');
                                                                                                            IDs_new_plot = []
                                                                                                            $('#buttons').find('button').each(function(){IDs_new_plot.push(this.id);})
                                                                                                            $.each(IDs_plot, function(index, value){
                                                                                                                $('#'+value).click(function(){
                                                                                                                    // alert(value);
                                                                                                                    $.ajax({
                                                                                                                        url:'/frontend/plots_3',
                                                                                                                        data:{'selected_id':data['plots_id'][index], 'old_id_1':data['selected_plots_id'][0], 'old_id_2':data['selected_plots_id'][1], 'old_id_3':data['selected_plots_id'][2], 'genre':data['genre'], 'plot':value},
                                                                                                                        type:'get',
                                                                                                                        cache:false,
                                                                                                                        dataType:'json',
                                                                                                                        success:function(data){
                                                                                                                            // alert(data['selected_plots_id'])
                                                                                                                            if(data['time'] < 20){
                                                                                                                                // alert('time');
                                                                                                                                empty_and_create(data['plots'], 'plot');
                                                                                                                                IDs_new_plot = []
                                                                                                                                $('#buttons').find('button').each(function(){IDs_new_plot.push(this.id);})
                                                                                                                                $.each(IDs_plot, function(index, value){
                                                                                                                                    $('#'+value).click(function(){
                                                                                                                                        $.ajax({
                                                                                                                                            url:'/frontend/plots_4',
                                                                                                                                            data:{'selected_id':data['plots_id'][index], 'old_id_1':data['selected_plots_id'][0], 'old_id_2':data['selected_plots_id'][1], 'old_id_3':data['selected_plots_id'][2],'old_id_4':data['selected_plots_id'][3], 'genre':data['genre'], 'plot':value},
                                                                                                                                            type:'get',
                                                                                                                                            cache:false,
                                                                                                                                            dataType:'json',
                                                                                                                                            success:function(data){
                                                                                                                                                // alert(data['selected_plots_id'])
                                                                                                                                                if(data['time'] < 20){
                                                                                                                                                    empty_and_create(data['plots'], 'plot');
                                                                                                                                                    IDs_new_plot = []
                                                                                                                                                    $('#buttons').find('button').each(function(){IDs_new_plot.push(this.id);})
                                                                                                                                                    $.each(IDs_plot, function(index, value){
                                                                                                                                                        $.ajax({
                                                                                                                                                            url:'/frontend/plots_5',
                                                                                                                                                            data:{'selected_id':data['plots_id'][index], 'old_id_1':data['selected_plots_id'][0], 'old_id_2':data['selected_plots_id'][1], 'old_id_3':data['selected_plots_id'][2],'old_id_4':data['selected_plots_id'][3], 'old_id_5':data['selected_plots_id'][4], 'genre':data['genre'], 'plot':value},
                                                                                                                                                            type:'get',
                                                                                                                                                            cache:false,
                                                                                                                                                            dataType:'json',
                                                                                                                                                            success:function(data){
                                                                                                                                                                console.log('finish');
                                                                                                                                                                render_ai(data['selected_plots_id']);
                                                                                                                                                            },
                                                                                                                                                            error:function(){
                                                                                                                                                                console.log('error send plot 5');
                                                                                                                                                            }
                                                                                                                                                        })
                                                                                                                                                    })
                                                                                                                                                }else{
                                                                                                                                                    render_ai(data['selected_plots_id']);
                                                                                                                                                }

                                                                                                                                            },
                                                                                                                                            error:function(){console.log('error send plot 4')}
                                                                                                                                        })
                                                                                                                                    })
                                                                                                                                })
                                                                                                                            }else{
                                                                                                                                render_ai(data['selected_plots_id'])
                                                                                                                            }
                                                                                                                        },
                                                                                                                        error:function(){console.log('error send plot 3')}
                                                                                                                    })

                                                                                                                })
                                                                                                            })

                                                                                                        }else{
                                                                                                            // TODO
                                                                                                            render_ai(data['selected_plots_id']);
                                                                                                        }
                                                                                                    },
                                                                                                    error:function(){console.log('error plot 2 send')}
                                                                                                })
                                                                                            })
                                                                                        })
                                                                                    }else{
                                                                                        // TODO
                                                                                        render_ai(data['selected_plots_id']);
                                                                                    }
                                                                                },
                                                                                error:function(){console.log('error plot 1 send!')}
                                                                            })
                                                                        })
                                                                    })
                                                                }else{
                                                                    // TODO
                                                                    render_ai(data['selected_plots_id']);
                                                                }
                                                            },
                                                            error:function(){
                                                                console.log('error plot send');
                                                            }
                                                        })
                                                    })
                                                })
                                            }
                                        },
                                        error:function(){
                                            console.log('error theme send');
                                        }
                                    })
                                })
                            })
                        }else{
                            console.log('restart!');
                        }
                    },
                    error:function(jqXHR, textStatus, err){
                        console.log('error');
                    }
                });
            });
        });
    });
</script>

{% endblock %}
